BASE_URL_PROD=
X_API_KEY_PROD=

#user with history
USER_PHONE_NUMBER_PROD=
USER_PASSWORD_PROD=

# user with empty history
EMPTY_USER_PHONE_NUMBER_PROD=
EMPTY_USER_PASSWORD_PROD=


BASE_URL_STAGE=
X_API_KEY_STAGE=

USER_PHONE_STAGE=
USER_PASS_STAGE=
EMPTY_USER_PHONE_STAGE=
EMPTY_USER_PASS_STAGE=


ENV_TYPE=

# Database
DB_HOST_PROD=
DB_PORT_PROD=
DB_USER_PROD=
DB_PASSWORD_PROD=
DB_NAME_PROD=

DB_HOST_STAGE=
DB_PORT_STAGE=
DB_USER_STAGE=
DB_PASSWORD_STAGE=
DB_NAME_STAGE=